.product{
    display: flex;
    border-bottom: 2px solid lightgray;
    margin: 5px;
}
.product-img{
    margin-right: 5px;
}
.product-title{
    color: blue;
    font-weight: 400;
}

.main-button{
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    width: 200px;
    height: 26px;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.product-content{
    margin-bottom: 8px;
}